# Django та Python
__pycache__/
*.py[cod]
*$py.class
.env

# Папка віртуального середовища
.venv/
venv/
env/
ENV/

# Налаштування IDE (PyCharm та VS Code)
.idea/
.vscode/

# Системні файли
*.log
.DS_Store
Thumbs.db

